@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Poppins&family=Roboto:wght@100;500&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

/* font resizing */
html {
  font-size: 62.5%; }

a {
  text-decoration: none;
  color: black; }

ul {
  list-style-type: none; }

.bg {
  background-color: rgba(167, 140, 83, 0.891); }

.nav-wrapper {
  width: 100%;
  backdrop-filter: blur(20px);
  background-color: rgba(167, 140, 83, 0.891);
  position: sticky;
  padding: 0.4rem;
  top: 0;
  left: 0;
  right: 0; }

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.5rem; }
  nav a {
    height: 30px; }
    nav a img {
      height: 30px; }
  nav label {
    display: inline-flex;
    color: black;
    cursor: pointer; }
    nav label i {
      margin: 5px; }
    @media screen and (min-width: 576px) {
      nav label {
        display: none; } }
    @media screen and (min-width: 1024px) {
      nav label {
        display: none; } }
  nav #toggle {
    display: none; }
  nav #toggle:checked ~ .menu {
    height: 100%; }
  nav .menu {
    width: 100%;
    height: 0;
    overflow: hidden; }
    @media screen and (min-width: 576px) {
      nav .menu {
        width: auto;
        height: auto;
        overflow: auto; } }
    @media screen and (min-width: 1024px) {
      nav .menu {
        width: auto;
        height: auto;
        overflow: auto; } }
    nav .menu ul {
      display: flex;
      gap: 3rem;
      flex-direction: column;
      align-items: center;
      padding: 1rem;
      font-size: 16px; }
      @media screen and (min-width: 576px) {
        nav .menu ul {
          flex-direction: row;
          align-items: auto;
          padding: auto; } }
      @media screen and (min-width: 1024px) {
        nav .menu ul {
          flex-direction: auto;
          align-items: auto;
          padding: auto; } }

.main-section {
  display: grid;
  height: 287px;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  background-image: url("../assets/img/maceta.png");
  background-size: cover;
  background-position: center center;
  align-items: center;
  justify-items: center;
  margin: auto;
  padding: 0px; }
  @media screen and (min-width: 576px) {
    .main-section {
      height: 500px; } }
  @media screen and (min-width: 1024px) {
    .main-section {
      height: 100vh; } }
  .main-section .main-section__heading {
    color: white;
    font-weight: 600;
    font-size: 30px;
    grid-row: 3/4;
    grid-column: 2/3; }
    @media screen and (min-width: 576px) {
      .main-section .main-section__heading {
        font-size: 3rem; } }
    @media screen and (min-width: 1024px) {
      .main-section .main-section__heading {
        font-size: 4.4rem; } }
  .main-section .main-section__link {
    grid-row: 5/6;
    grid-column: 2/3; }

/*section nosotros*/
.nosotros-section {
  display: flex;
  height: 500px;
  background-color: #EBE8E8;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; }
  .nosotros-section h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    width: 80%; }
    @media screen and (min-width: 576px) {
      .nosotros-section h2 {
        font-size: 3rem;
        width: 100%;
        margin-top: 30px; } }
  .nosotros-section h3 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400; }
    @media screen and (min-width: 576px) {
      .nosotros-section h3 {
        font-size: 2rem; } }
  .nosotros-section .card__ebanista {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center; }
    @media screen and (min-width: 576px) {
      .nosotros-section .card__ebanista {
        display: flex;
        flex-direction: row;
        gap: 30px;
        width: 500px;
        font-size: 1.5rem; } }
    .nosotros-section .card__ebanista img {
      height: 117px; }
      @media screen and (min-width: 576px) {
        .nosotros-section .card__ebanista img {
          height: 197px; } }
    .nosotros-section .card__ebanista div {
      display: flex;
      height: 110px;
      flex-direction: column;
      justify-content: space-evenly;
      width: 60%; }
    .nosotros-section .card__ebanista .desc-ebanista__firma span {
      font-weight: 600; }
  .nosotros-section a {
    font-size: 15px;
    font-weight: 600;
    color: black; }
    @media screen and (min-width: 576px) {
      .nosotros-section a {
        font-size: 2rem;
        margin-bottom: 30px; } }

.galeria-section {
  display: flex;
  align-items: center;
  height: 244px;
  background-image: url("../assets/img/mesa-ratona-lateral.jpeg");
  background-size: cover; }
  @media screen and (min-width: 576px) {
    .galeria-section {
      height: 542px; } }
  @media screen and (min-width: 1024px) {
    .galeria-section {
      height: 600px; } }
  .galeria-section a {
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 16px; }
    @media screen and (min-width: 576px) {
      .galeria-section a {
        font-size: 2rem;
        margin: 35px; } }

.testimonios-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 359px;
  align-items: center;
  background-color: #EBE8E8; }
  @media screen and (min-width: 576px) {
    .testimonios-section {
      height: 522px; } }
  @media screen and (min-width: 1024px) {
    .testimonios-section {
      height: 522px; } }
  .testimonios-section .testimonios-section__link {
    color: black;
    font-size: 15px;
    font-weight: 600; }
    @media screen and (min-width: 1024px) {
      .testimonios-section .testimonios-section__link {
        font-size: 2rem; } }
  .testimonios-section .cards-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; }
    @media screen and (min-width: 576px) {
      .testimonios-section .cards-container {
        width: 550px; } }
    @media screen and (min-width: 1024px) {
      .testimonios-section .cards-container {
        width: 1150px; } }
    .testimonios-section .cards-container .card-container {
      display: flex;
      gap: 15px;
      width: 80%;
      align-items: center;
      justify-content: center; }
      .testimonios-section .cards-container .card-container .testimonios-card {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        align-items: center;
        justify-items: center;
        height: 205px;
        width: 169px;
        border-radius: 24px;
        box-shadow: 2px 2px 5px lightgray;
        background-color: white;
        padding: 15px; }
        @media screen and (min-width: 576px) {
          .testimonios-section .cards-container .card-container .testimonios-card {
            height: 279px;
            width: 230px; } }
        @media screen and (min-width: 1024px) {
          .testimonios-section .cards-container .card-container .testimonios-card {
            height: 406px;
            width: 335px;
            padding: 30px; } }
        .testimonios-section .cards-container .card-container .testimonios-card p {
          grid-row: 2/3; }
          @media screen and (min-width: 576px) {
            .testimonios-section .cards-container .card-container .testimonios-card p {
              font-size: 1.5rem; } }
        .testimonios-section .cards-container .card-container .testimonios-card a {
          grid-row: 3/4;
          color: black;
          justify-self: right; }
          @media screen and (min-width: 576px) {
            .testimonios-section .cards-container .card-container .testimonios-card a {
              font-size: 1.5rem; } }
        .testimonios-section .cards-container .card-container .testimonios-card h3 {
          grid-row: 4/5;
          font-size: 12px;
          font-weight: 700;
          justify-self: end; }
          @media screen and (min-width: 576px) {
            .testimonios-section .cards-container .card-container .testimonios-card h3 {
              font-size: 1.5rem; } }
      @media screen and (min-width: 576px) {
        .testimonios-section .cards-container .card-container .card-container__flechader {
          display: none; } }
      @media screen and (min-width: 1024px) {
        .testimonios-section .cards-container .card-container .card-container__flechader {
          display: none; } }
    .testimonios-section .cards-container .card-container--2 {
      display: none; }
      .testimonios-section .cards-container .card-container--2 .testimonios-card {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        align-items: center;
        justify-items: center;
        height: 205px;
        width: 169px;
        border-radius: 24px;
        box-shadow: 2px 2px 5px lightgray;
        background-color: white;
        padding: 15px; }
        @media screen and (min-width: 576px) {
          .testimonios-section .cards-container .card-container--2 .testimonios-card {
            height: 279px;
            width: 230px; } }
        @media screen and (min-width: 1024px) {
          .testimonios-section .cards-container .card-container--2 .testimonios-card {
            height: 406px;
            width: 335px;
            padding: 30px; } }
        .testimonios-section .cards-container .card-container--2 .testimonios-card p {
          grid-row: 2/3; }
          @media screen and (min-width: 576px) {
            .testimonios-section .cards-container .card-container--2 .testimonios-card p {
              font-size: 1.5rem; } }
        .testimonios-section .cards-container .card-container--2 .testimonios-card a {
          grid-row: 3/4;
          color: black;
          justify-self: right; }
          @media screen and (min-width: 576px) {
            .testimonios-section .cards-container .card-container--2 .testimonios-card a {
              font-size: 1.5rem; } }
        .testimonios-section .cards-container .card-container--2 .testimonios-card h3 {
          grid-row: 4/5;
          font-size: 12px;
          font-weight: 700;
          justify-self: end; }
          @media screen and (min-width: 576px) {
            .testimonios-section .cards-container .card-container--2 .testimonios-card h3 {
              font-size: 1.5rem; } }
      @media screen and (min-width: 576px) {
        .testimonios-section .cards-container .card-container--2 {
          display: flex;
          gap: 15px;
          width: 80%;
          align-items: center;
          justify-content: center; } }
      @media screen and (min-width: 1024px) {
        .testimonios-section .cards-container .card-container--2 .card-container--2__flechader {
          display: none; } }
    .testimonios-section .cards-container .card-container--3 {
      display: none; }
      @media screen and (min-width: 1024px) {
        .testimonios-section .cards-container .card-container--3 {
          display: flex;
          gap: 15px;
          width: 80%;
          align-items: center;
          justify-content: center; } }
      .testimonios-section .cards-container .card-container--3 .testimonios-card {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        align-items: center;
        justify-items: center;
        height: 205px;
        width: 169px;
        border-radius: 24px;
        box-shadow: 2px 2px 5px lightgray;
        background-color: white;
        padding: 15px; }
        @media screen and (min-width: 576px) {
          .testimonios-section .cards-container .card-container--3 .testimonios-card {
            height: 279px;
            width: 230px; } }
        @media screen and (min-width: 1024px) {
          .testimonios-section .cards-container .card-container--3 .testimonios-card {
            height: 406px;
            width: 335px;
            padding: 30px; } }
        .testimonios-section .cards-container .card-container--3 .testimonios-card p {
          grid-row: 2/3; }
          @media screen and (min-width: 576px) {
            .testimonios-section .cards-container .card-container--3 .testimonios-card p {
              font-size: 1.5rem; } }
        .testimonios-section .cards-container .card-container--3 .testimonios-card a {
          grid-row: 3/4;
          color: black;
          justify-self: right; }
          @media screen and (min-width: 576px) {
            .testimonios-section .cards-container .card-container--3 .testimonios-card a {
              font-size: 1.5rem; } }
        .testimonios-section .cards-container .card-container--3 .testimonios-card h3 {
          grid-row: 4/5;
          font-size: 12px;
          font-weight: 700;
          justify-self: end; }
          @media screen and (min-width: 576px) {
            .testimonios-section .cards-container .card-container--3 .testimonios-card h3 {
              font-size: 1.5rem; } }

.contacto-section {
  display: flex;
  height: 534px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #bfb1958a; }
  @media screen and (min-width: 1024px) {
    .contacto-section {
      display: grid;
      grid-template-columns: 100px repeat(4, 1fr) 100px;
      grid-template-rows: 20px repeat(6, 1fr) 20px;
      height: 500px; } }
  .contacto-section .heading-container {
    margin: 10px;
    width: 80%; }
    @media screen and (min-width: 1024px) {
      .contacto-section .heading-container {
        grid-column: 4/6;
        grid-row: 3/4;
        margin: 0px;
        align-self: start;
        padding-top: 7px; } }
    .contacto-section .heading-container h3 {
      font-size: 1.5rem;
      font-weight: 600; }
      @media screen and (min-width: 576px) {
        .contacto-section .heading-container h3 {
          font-size: 2rem;
          font-weight: 600; } }
    .contacto-section .heading-container hr {
      border-top: 1px solid black;
      border-bottom: none;
      margin: 2px; }
  .contacto-section .form {
    width: 80%; }
    @media screen and (min-width: 1024px) {
      .contacto-section .form {
        grid-column: 2/4;
        grid-row: 2/8;
        align-self: center;
        justify-self: center; } }
    .contacto-section .form fieldset {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 15px;
      border: none;
      height: 250px; }
      @media screen and (min-width: 1024px) {
        .contacto-section .form fieldset {
          gap: 20px;
          height: 100%; } }
      .contacto-section .form fieldset .form__input {
        height: 32px;
        width: 100%;
        border: none;
        border-radius: 5px;
        padding: 5px; }
        @media screen and (min-width: 576px) {
          .contacto-section .form fieldset .form__input {
            font-size: 1.5rem; } }
        @media screen and (min-width: 1024px) {
          .contacto-section .form fieldset .form__input {
            height: 40px; } }
      .contacto-section .form fieldset .form__input--textarea {
        height: auto; }
        @media screen and (min-width: 1024px) {
          .contacto-section .form fieldset .form__input--textarea {
            height: auto; } }
  .contacto-section .data-container {
    display: flex;
    width: 80%;
    flex-direction: column;
    gap: 20px;
    padding: 0px; }
    @media screen and (min-width: 1024px) {
      .contacto-section .data-container {
        grid-column: 4/6;
        grid-row: 4/6;
        align-self: center;
        justify-self: start;
        gap: 40px; } }
    .contacto-section .data-container .data {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 10px; }
      @media screen and (min-width: 576px) {
        .contacto-section .data-container .data {
          font-size: 1.5rem; } }
      .contacto-section .data-container .data img {
        width: 20px; }
      .contacto-section .data-container .data p {
        width: 100%; }
      .contacto-section .data-container .data .data__img--size {
        height: 26px; }

.nosotros .main-section {
  display: grid;
  height: 287px;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  background-image: url("../assets/img/ebanista-taller.jpeg");
  background-size: cover;
  background-position: center center;
  align-items: center;
  justify-items: center;
  margin: auto;
  padding: 0px; }
  @media screen and (min-width: 576px) {
    .nosotros .main-section {
      height: 500px; } }
  @media screen and (min-width: 1024px) {
    .nosotros .main-section {
      height: 95vh; } }
  .nosotros .main-section h1 {
    color: white;
    font-weight: 600;
    font-size: 2rem;
    grid-row: 4/5;
    grid-column: 2/3;
    align-self: end; }
    @media screen and (min-width: 576px) {
      .nosotros .main-section h1 {
        font-size: 3rem; } }
    @media screen and (min-width: 1024px) {
      .nosotros .main-section h1 {
        font-size: 4.4rem; } }
  .nosotros .main-section a {
    grid-row: 5/6;
    grid-column: 2/3; }
  .nosotros .main-section img {
    height: 15px; }
    @media screen and (min-width: 576px) {
      .nosotros .main-section img {
        height: 25px; } }
    @media screen and (min-width: 1024px) {
      .nosotros .main-section img {
        height: 30px; } }

.nosotros .nosotros-section {
  display: flex;
  background-color: #EBE8E8;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px; }
  @media screen and (min-width: 576px) {
    .nosotros .nosotros-section {
      height: 700px; } }
  @media screen and (min-width: 1024px) {
    .nosotros .nosotros-section {
      height: 750px; } }
  .nosotros .nosotros-section .title-container {
    display: flex;
    flex-direction: column;
    gap: 10px; }
    @media screen and (min-width: 576px) {
      .nosotros .nosotros-section .title-container {
        display: flex;
        flex-direction: column;
        gap: 30px; } }
  .nosotros .nosotros-section h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    width: 100%; }
    @media screen and (min-width: 576px) {
      .nosotros .nosotros-section h2 {
        font-size: 3rem;
        width: 100%;
        margin-top: 30px; } }
    @media screen and (min-width: 1024px) {
      .nosotros .nosotros-section h2 {
        font-size: 4.4rem;
        width: 100%;
        margin-top: 30px; } }
  .nosotros .nosotros-section h3 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400; }
    @media screen and (min-width: 576px) {
      .nosotros .nosotros-section h3 {
        font-size: 2rem; } }
    @media screen and (min-width: 1024px) {
      .nosotros .nosotros-section h3 {
        font-size: 3rem; } }

.nosotros .text-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  padding: 0px 20px; }
  @media screen and (min-width: 576px) {
    .nosotros .text-container {
      width: 500px;
      font-size: 1.5rem; } }
  @media screen and (min-width: 1024px) {
    .nosotros .text-container {
      width: 500px;
      font-size: 1.5rem; } }

.nosotros-data {
  display: flex;
  height: 266px;
  background-color: #D9D9D9;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  gap: 20px; }
  @media screen and (min-width: 576px) {
    .nosotros-data {
      display: flex;
      flex-direction: row;
      height: 150px; } }
  @media screen and (min-width: 1024px) {
    .nosotros-data {
      display: flex;
      flex-direction: row;
      height: 210px; } }
  @media screen and (min-width: 576px) {
    .nosotros-data h2 {
      font-size: 3rem; } }
  @media screen and (min-width: 1024px) {
    .nosotros-data h2 {
      font-size: 4rem; } }
  @media screen and (min-width: 576px) {
    .nosotros-data p {
      font-size: 2rem; } }
  @media screen and (min-width: 1024px) {
    .nosotros-data p {
      font-size: 3rem; } }

.galeria .main-section {
  display: grid;
  height: 287px;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  background-image: url("../assets/img/mesa-ratona-esquina.jpg");
  background-size: cover;
  background-position: center center;
  align-items: center;
  justify-items: center;
  margin: auto;
  padding: 0px; }
  @media screen and (min-width: 576px) {
    .galeria .main-section {
      height: 500px; } }
  @media screen and (min-width: 1024px) {
    .galeria .main-section {
      height: 95vh; } }
  .galeria .main-section h1 {
    color: white;
    font-weight: 600;
    font-size: 2rem;
    grid-row: 4/5;
    grid-column: 2/3;
    align-self: end; }
    @media screen and (min-width: 576px) {
      .galeria .main-section h1 {
        font-size: 3rem; } }
    @media screen and (min-width: 1024px) {
      .galeria .main-section h1 {
        font-size: 4.4rem; } }
  .galeria .main-section a {
    grid-row: 5/6;
    grid-column: 2/3; }
  .galeria .main-section img {
    height: 15px; }
    @media screen and (min-width: 576px) {
      .galeria .main-section img {
        height: 25px; } }
    @media screen and (min-width: 1024px) {
      .galeria .main-section img {
        height: 30px; } }

.galeria .galeria-section {
  display: flex;
  height: 700px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-image: none;
  background-color: #EBE8E8; }
  @media screen and (min-width: 576px) {
    .galeria .galeria-section {
      gap: 3rem;
      height: 1350px; } }
  @media screen and (min-width: 1024px) {
    .galeria .galeria-section {
      gap: 2rem;
      height: 1800px; } }
  .galeria .galeria-section .title-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px; }
    @media screen and (min-width: 576px) {
      .galeria .galeria-section .title-container {
        gap: 30px; } }
    @media screen and (min-width: 1024px) {
      .galeria .galeria-section .title-container {
        gap: 3.5rem; } }
    @media screen and (min-width: 576px) {
      .galeria .galeria-section .title-container h2 {
        font-size: 3rem; } }
    .galeria .galeria-section .title-container h3 {
      font-weight: 400; }
      @media screen and (min-width: 576px) {
        .galeria .galeria-section .title-container h3 {
          font-size: 2rem; } }
  .galeria .galeria-section .galeria-container {
    display: grid;
    width: 300px;
    height: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 100px);
    gap: 10px;
    margin-bottom: 40px; }
    @media screen and (min-width: 576px) {
      .galeria .galeria-section .galeria-container {
        width: 540px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 180px); } }
    @media screen and (min-width: 1024px) {
      .galeria .galeria-section .galeria-container {
        width: 810px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 270px); } }
    .galeria .galeria-section .galeria-container img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px; }

.testimonios .main-section {
  display: grid;
  height: 287px;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  background-image: url("../assets/img/mesa-de-luz.jpg");
  background-size: cover;
  background-position: center center;
  align-items: center;
  justify-items: center;
  margin: auto;
  padding: 0px; }
  @media screen and (min-width: 576px) {
    .testimonios .main-section {
      height: 500px; } }
  @media screen and (min-width: 1024px) {
    .testimonios .main-section {
      height: 95vh; } }
  .testimonios .main-section h1 {
    color: white;
    font-weight: 600;
    font-size: 2rem;
    grid-row: 4/5;
    grid-column: 2/3;
    align-self: end; }
    @media screen and (min-width: 576px) {
      .testimonios .main-section h1 {
        font-size: 3rem; } }
    @media screen and (min-width: 1024px) {
      .testimonios .main-section h1 {
        font-size: 4.4rem; } }
  .testimonios .main-section a {
    grid-row: 5/6;
    grid-column: 2/3; }
  .testimonios .main-section img {
    height: 15px; }
    @media screen and (min-width: 576px) {
      .testimonios .main-section img {
        height: 25px; } }
    @media screen and (min-width: 1024px) {
      .testimonios .main-section img {
        height: 30px; } }

.testimonios .testimonios-section {
  display: flex;
  flex-direction: column;
  height: 570px;
  justify-content: space-evenly; }
  @media screen and (min-width: 1024px) {
    .testimonios .testimonios-section {
      height: 1600px;
      gap: 40px; } }
  .testimonios .testimonios-section .title-container {
    display: flex;
    flex-direction: column;
    gap: 20px; }
    @media screen and (min-width: 1024px) {
      .testimonios .testimonios-section .title-container {
        gap: 40px; } }
    .testimonios .testimonios-section .title-container h2 {
      text-align: center;
      font-size: 2rem;
      font-weight: 600;
      width: 100%; }
      @media screen and (min-width: 1024px) {
        .testimonios .testimonios-section .title-container h2 {
          font-size: 3rem; } }
    .testimonios .testimonios-section .title-container h3 {
      text-align: center;
      font-size: 1.5rem;
      font-weight: 400; }
      @media screen and (min-width: 1024px) {
        .testimonios .testimonios-section .title-container h3 {
          font-size: 2rem;
          gap: 10px; } }
  .testimonios .testimonios-section .cards-container {
    display: grid;
    height: 420px;
    width: 280px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(12, 1fr);
    gap: 20px; }
    @media screen and (min-width: 1024px) {
      .testimonios .testimonios-section .cards-container {
        grid-template-rows: repeat(6, 1fr);
        width: 950px;
        height: 1200px;
        gap: 40px; } }
    .testimonios .testimonios-section .cards-container .card-1 {
      width: 100%;
      height: 100%;
      grid-row: 1/7;
      grid-column: 1/2;
      background-color: #E1DEDE;
      border-radius: 20px;
      overflow: hidden; }
      @media screen and (min-width: 1024px) {
        .testimonios .testimonios-section .cards-container .card-1 {
          grid-row: 1/4;
          grid-column: 1/2; } }
      .testimonios .testimonios-section .cards-container .card-1 img {
        width: 100%;
        height: 50%;
        object-fit: cover; }
      .testimonios .testimonios-section .cards-container .card-1 div {
        display: flex;
        flex-direction: column;
        margin: 20px 10px 0px 10px;
        gap: 10px; }
        @media screen and (min-width: 1024px) {
          .testimonios .testimonios-section .cards-container .card-1 div {
            font-size: 2rem;
            padding: 40px; } }
      .testimonios .testimonios-section .cards-container .card-1 .firma {
        align-self: end;
        color: rgba(167, 140, 83, 0.891);
        font-weight: 700; }
    .testimonios .testimonios-section .cards-container .card-2 {
      width: 100%;
      height: 100%;
      grid-row: 7/9;
      grid-column: 1/2;
      background-color: #E1DEDE;
      border-radius: 20px; }
      @media screen and (min-width: 1024px) {
        .testimonios .testimonios-section .cards-container .card-2 {
          grid-row: 4/5; } }
      .testimonios .testimonios-section .cards-container .card-2 div {
        display: flex;
        flex-direction: column;
        margin: 5px 10px 0px 10px;
        gap: 5px; }
        @media screen and (min-width: 1024px) {
          .testimonios .testimonios-section .cards-container .card-2 div {
            font-size: 2rem;
            padding: 40px;
            gap: 10px; } }
      .testimonios .testimonios-section .cards-container .card-2 .firma {
        align-self: end;
        color: rgba(167, 140, 83, 0.891);
        font-weight: 700; }
    .testimonios .testimonios-section .cards-container .card-3 {
      width: 100%;
      height: 100%;
      grid-row: 9/11;
      grid-column: 1/2;
      background-color: #E1DEDE;
      border-radius: 20px; }
      @media screen and (min-width: 1024px) {
        .testimonios .testimonios-section .cards-container .card-3 {
          grid-row: 5/6; } }
      .testimonios .testimonios-section .cards-container .card-3 div {
        display: flex;
        flex-direction: column;
        margin: 5px 10px 0px 10px;
        gap: 5px; }
        @media screen and (min-width: 1024px) {
          .testimonios .testimonios-section .cards-container .card-3 div {
            font-size: 2rem;
            padding: 40px;
            gap: 10px; } }
      .testimonios .testimonios-section .cards-container .card-3 .firma {
        align-self: end;
        color: rgba(167, 140, 83, 0.891);
        font-weight: 700; }
    .testimonios .testimonios-section .cards-container .card-4 {
      width: 100%;
      height: 100%;
      grid-row: 11/13;
      grid-column: 1/2;
      background-color: #E1DEDE;
      border-radius: 20px;
      font-size: 1rem; }
      @media screen and (min-width: 1024px) {
        .testimonios .testimonios-section .cards-container .card-4 {
          grid-row: 6/7; } }
      .testimonios .testimonios-section .cards-container .card-4 div {
        display: flex;
        flex-direction: column;
        margin: 5px 10px 0px 10px;
        gap: 5px; }
        @media screen and (min-width: 1024px) {
          .testimonios .testimonios-section .cards-container .card-4 div {
            font-size: 2rem;
            padding: 40px;
            gap: 10px; } }
      .testimonios .testimonios-section .cards-container .card-4 .firma {
        align-self: end;
        color: rgba(167, 140, 83, 0.891);
        font-weight: 700; }
    .testimonios .testimonios-section .cards-container .card-5 {
      width: 100%;
      height: 100%;
      grid-row: 1/3;
      grid-column: 2/3;
      background-color: #E1DEDE;
      border-radius: 20px; }
      @media screen and (min-width: 1024px) {
        .testimonios .testimonios-section .cards-container .card-5 {
          grid-row: 1/2; } }
      .testimonios .testimonios-section .cards-container .card-5 div {
        display: flex;
        flex-direction: column;
        margin: 5px 10px 0px 10px;
        gap: 5px; }
        @media screen and (min-width: 1024px) {
          .testimonios .testimonios-section .cards-container .card-5 div {
            font-size: 2rem;
            padding: 40px;
            gap: 10px; } }
      .testimonios .testimonios-section .cards-container .card-5 .firma {
        align-self: end;
        color: rgba(167, 140, 83, 0.891);
        font-weight: 700; }
    .testimonios .testimonios-section .cards-container .card-6 {
      width: 100%;
      height: 100%;
      grid-row: 3/9;
      grid-column: 2/3;
      background-color: #E1DEDE;
      border-radius: 20px;
      overflow: hidden; }
      @media screen and (min-width: 1024px) {
        .testimonios .testimonios-section .cards-container .card-6 {
          grid-row: 2/5; } }
      .testimonios .testimonios-section .cards-container .card-6 img {
        width: 100%;
        height: 60%;
        object-fit: cover; }
      .testimonios .testimonios-section .cards-container .card-6 div {
        display: flex;
        flex-direction: column;
        margin: 10px 10px 5px 10px;
        gap: 5px; }
        @media screen and (min-width: 1024px) {
          .testimonios .testimonios-section .cards-container .card-6 div {
            font-size: 2rem;
            padding: 40px;
            gap: 10px; } }
      .testimonios .testimonios-section .cards-container .card-6 .firma {
        align-self: end;
        color: rgba(167, 140, 83, 0.891);
        font-weight: 700; }
    .testimonios .testimonios-section .cards-container .card-7 {
      width: 100%;
      height: 100%;
      grid-row: 9/11;
      grid-column: 2/3;
      background-color: #E1DEDE;
      border-radius: 20px; }
      @media screen and (min-width: 1024px) {
        .testimonios .testimonios-section .cards-container .card-7 {
          grid-row: 5/6; } }
      .testimonios .testimonios-section .cards-container .card-7 div {
        display: flex;
        flex-direction: column;
        margin: 5px 10px 0px 10px;
        gap: 5px; }
        @media screen and (min-width: 1024px) {
          .testimonios .testimonios-section .cards-container .card-7 div {
            font-size: 2rem;
            padding: 40px;
            gap: 10px; } }
      .testimonios .testimonios-section .cards-container .card-7 .firma {
        align-self: end;
        color: rgba(167, 140, 83, 0.891);
        font-weight: 700; }
    .testimonios .testimonios-section .cards-container .card-8 {
      width: 100%;
      height: 100%;
      grid-row: 11/13;
      grid-column: 2/3;
      background-color: #E1DEDE;
      border-radius: 20px; }
      @media screen and (min-width: 1024px) {
        .testimonios .testimonios-section .cards-container .card-8 {
          grid-row: 6/7; } }
      .testimonios .testimonios-section .cards-container .card-8 div {
        display: flex;
        flex-direction: column;
        margin: 5px 10px 0px 10px;
        gap: 5px; }
        @media screen and (min-width: 1024px) {
          .testimonios .testimonios-section .cards-container .card-8 div {
            font-size: 2rem;
            padding: 40px;
            gap: 10px; } }
      .testimonios .testimonios-section .cards-container .card-8 .firma {
        align-self: end;
        color: rgba(167, 140, 83, 0.891);
        font-weight: 700; }

.contacto .contacto-main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 510px; }
  .contacto .contacto-main-section .contacto-presentacion {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 30px;
    width: 260px;
    background-image: url(../assets/img/fondo-contacto.png);
    background-size: cover; }
    @media screen and (min-width: 576px) {
      .contacto .contacto-main-section .contacto-presentacion {
        width: 600px;
        flex-direction: row;
        gap: 5px; } }
  @media screen and (min-width: 576px) and (min-width: 1024px) {
    .contacto .contacto-main-section .contacto-presentacion {
      width: 800px; } }
    .contacto .contacto-main-section .contacto-presentacion .texto-container {
      display: flex;
      flex-direction: column;
      gap: 20px;
      font-size: 1.5rem; }
      @media screen and (min-width: 1024px) {
        .contacto .contacto-main-section .contacto-presentacion .texto-container {
          font-size: 2rem; } }
      .contacto .contacto-main-section .contacto-presentacion .texto-container p {
        width: 80%; }
      @media screen and (min-width: 576px) {
        .contacto .contacto-main-section .contacto-presentacion .texto-container {
          width: 200px; } }
      @media screen and (min-width: 1024px) {
        .contacto .contacto-main-section .contacto-presentacion .texto-container {
          width: 400px; } }
    .contacto .contacto-main-section .contacto-presentacion .form {
      width: 260px; }
      @media screen and (min-width: 1024px) {
        .contacto .contacto-main-section .contacto-presentacion .form {
          width: 300px; } }
      .contacto .contacto-main-section .contacto-presentacion .form .form__fieldset {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 15px;
        border: none;
        height: 250px; }
        .contacto .contacto-main-section .contacto-presentacion .form .form__fieldset .form__input {
          height: 32px;
          width: 100%;
          border: none;
          border-radius: 5px;
          padding: 5px;
          background-color: #F1F1F1; }
        .contacto .contacto-main-section .contacto-presentacion .form .form__fieldset .form__input--textarea {
          height: auto; }

.contacto .contacto-container {
  height: 487px;
  background-color: #F1F1F1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; }
  @media screen and (min-width: 576px) {
    .contacto .contacto-container {
      height: 600px; } }
  @media screen and (min-width: 1024px) {
    .contacto .contacto-container {
      height: 800px; } }
  .contacto .contacto-container .cards-container {
    display: grid;
    width: 260px;
    height: 400px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center; }
    @media screen and (min-width: 576px) {
      .contacto .contacto-container .cards-container {
        width: 600px;
        height: 400px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr; } }
    @media screen and (min-width: 1024px) {
      .contacto .contacto-container .cards-container {
        width: 900px;
        height: 600px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr; } }
    .contacto .contacto-container .cards-container .contacto-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-self: center;
      justify-self: center;
      width: 115px;
      height: 115px;
      background-color: white;
      border-radius: 10px; }
      @media screen and (min-width: 576px) {
        .contacto .contacto-container .cards-container .contacto-card {
          width: 180px;
          height: 180px;
          gap: 10px; } }
      @media screen and (min-width: 1024px) {
        .contacto .contacto-container .cards-container .contacto-card {
          width: 250px;
          height: 250px;
          gap: 5px; } }
      .contacto .contacto-container .cards-container .contacto-card .card-text-container {
        width: 80%;
        overflow-wrap: break-word; }
        @media screen and (min-width: 576px) {
          .contacto .contacto-container .cards-container .contacto-card .card-text-container {
            width: 90%;
            gap: 20px; } }
        .contacto .contacto-container .cards-container .contacto-card .card-text-container h2 {
          font-size: 1rem; }
          @media screen and (min-width: 576px) {
            .contacto .contacto-container .cards-container .contacto-card .card-text-container h2 {
              font-size: 1.5rem; } }
        .contacto .contacto-container .cards-container .contacto-card .card-text-container p {
          font-size: 1rem; }
          @media screen and (min-width: 576px) {
            .contacto .contacto-container .cards-container .contacto-card .card-text-container p {
              font-size: 1.5rem; } }

.contacto .contacto-ubicacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 450px; }
  @media screen and (min-width: 1024px) {
    .contacto .contacto-ubicacion {
      height: 600px; } }
  .contacto .contacto-ubicacion .ubicacion-text-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
    height: 350px; }
    @media screen and (min-width: 1024px) {
      .contacto .contacto-ubicacion .ubicacion-text-container {
        gap: 25px; } }
    .contacto .contacto-ubicacion .ubicacion-text-container h2 {
      font-size: 2rem; }
      @media screen and (min-width: 1024px) {
        .contacto .contacto-ubicacion .ubicacion-text-container h2 {
          font-size: 3rem; } }
    .contacto .contacto-ubicacion .ubicacion-text-container p {
      font-size: 1.5rem; }
      @media screen and (min-width: 1024px) {
        .contacto .contacto-ubicacion .ubicacion-text-container p {
          font-size: 2rem; } }
    .contacto .contacto-ubicacion .ubicacion-text-container img {
      height: 176px;
      width: 265px; }
      @media screen and (min-width: 1024px) {
        .contacto .contacto-ubicacion .ubicacion-text-container img {
          width: 400px;
          height: 300px; } }

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 112px;
  background-color: black;
  padding-left: 15px;
  padding-right: 15px; }
  @media screen and (min-width: 760px) {
    footer {
      height: 63px;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 30px; } }
  footer .footer__icon-container {
    display: flex;
    gap: 25px; }
    footer .footer__icon-container .footer__icon {
      width: 20px; }
      @media screen and (min-width: 760px) {
        footer .footer__icon-container .footer__icon {
          order: 2; } }
  footer hr {
    border-top: none; }
    @media screen and (min-width: 760px) {
      footer hr {
        display: none; } }
  footer p {
    color: #585858;
    font-size: 12px;
    font-weight: 400; }
    @media screen and (min-width: 760px) {
      footer p {
        order: 1; } }
