.nav-wrapper{
    width: 100%;
    backdrop-filter: blur(20px);
    background-color:$main-color;
    position: sticky;
    padding: 0.4rem;
    top: 0;
    left: 0;
    right: 0;
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.5rem;
    a{
        height: 30px;    
        img{
            height: 30px;
        }
    }
    label{
        display: inline-flex;
        color: black;
        cursor: pointer;
        i{
            margin: 5px;
        }
        @include tablet{
            display: none;
        }
        @include desktop{
            display: none;
        }
    }
    #toggle{
        display: none;
    }
    #toggle:checked ~ .menu{
        height: 100%;
    }

    .menu{
        width: 100%;
        height: 0;
        overflow: hidden;
        @include tablet{
            width: auto;
            height: auto;
            overflow: auto;
        }
        @include desktop{
            width: auto;
            height: auto;
            overflow: auto;
        }
        ul{
            display: flex;
            gap: 3rem;
            flex-direction: column;
            align-items: center;
            padding: 1rem;
            font-size: 16px;
        @include tablet{
            flex-direction: row;
            align-items: auto;
            padding: auto;
        }
        @include desktop{
            flex-direction: auto;
            align-items: auto;
            padding: auto;
        }

        }
        
    }
}

