
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* font resizing */
html{
    font-size: 62.5%;
}


a{
    text-decoration: none;
    color: black;
}

ul{
    list-style-type: none;
}

.bg{
    background-color: rgba(167, 140, 83, 0.891);

}